body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f8fa;
  color: #222;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #1a73e8;
  color: #fff;
  position: sticky;
  top: 0;
}
nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;

  padding: 8px 12px; 
  border-radius: 6px; 
  transition: 0.3s; 
}

nav a:hover {
  background: #155ec2;
}

.section {
  padding: 80px 50px;
}
.home {
  text-align: center;
  padding: 120px 20px;
  background: #e8f0fe;
}
.home h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.home p {
  font-size: 20px;
  margin-bottom: 20px;
}
.about,
.skills,
.projects,
.contact {
  max-width: 900px;
  margin: auto;
}
h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #1a73e8;
}
.skills ul,
.about ul {
  line-height: 1.8;
}
.project-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 20px;
  background: #1a73e8;
  color: white;
  margin-top: 40px;
}
.contact a {
  display: block;
  margin-bottom: 10px;
  color: #1a73e8;
  text-decoration: none;
  font-weight: 600;
}

.view-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #1a73e8;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.view-btn:hover {
  background-color: #155ec2;
}

.home img {
  border: 3px solid black;
  border-radius: 45%;
  margin-top: 20px;
}

